<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Valdymas</title>
</head>

<body>
  <h1>Valdymas</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe facilis dolorem exercitationem. Placeat ratione optio veniam numquam quae! Voluptatibus distinctio voluptatum, facilis neque vero incidunt a tempore officia eum pariatur totam eius suscipit cumque? Amet dolor illum ratione cupiditate. Quaerat asperiores possimus laborum qui voluptatem repellat impedit aliquam tempore eveniet unde laboriosam voluptates dolores, optio distinctio nemo corporis, sint eum animi necessitatibus accusantium eligendi voluptate est natus! Magnam, laborum eius labore harum quia impedit repudiandae sed explicabo at doloremque, temporibus porro ducimus nam quaerat fugit tenetur mollitia eveniet autem sequi. Magnam quam maxime suscipit praesentium ut eligendi eius vel assumenda.</p>
  <p>
  <a href="/">Į pradžią</a>
  </p>
</body>

</html>