<div>   
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus deleniti expedita eligendi aliquid esse consequatur quasi odit dolorum officiis consectetur!</h1>
    
    <h2>Gautas Objektas:</h2>
    {{{objektas.vardas}}} <br />
    {{objektas.pavarde}}

    {{#if masyvas}}
        <h2>Kintamojo rezultatai:</h2>   
        <ul>
            {{#each masyvas}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{else}}
        <h2>Kintamuju nera</h2>
    {{/if}}
</div>